#partner_ship{
    padding: 48px 0;
    background-color: #EEEDDE;
}
.partner_ship_wrapper{
    display: flex;
    justify-content: space-between;
}
.nnn{
    color: #203239;
    font-family: var(--popen);
    font-size: 36px;
    font-weight: 600;
    line-height: 150%;
}
.left_wrapper{
    display: flex;
    column-gap: 48px;
}
.left_call{
    margin-top: 63px;
    width: 243px;
    border-radius: 10px;
    border: 1px solid rgba(255, 117, 39, 0.50);
    padding: 24px;
    position: relative;
}
.left_call i {
	font-size: 48px;
	position: absolute;
	left: 23px;
	top: 20px;
}
.hhh{
    margin-left: 60px;
} 
.left_call h3{
    color: #203239;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    width: 32px;
}
.left_call h4{
    color: #203239;
    font-family: var(--popen);
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    width: 131px;
}
.last_btn{
    margin-top: 24px;
    padding: 13px 61px;
    border-radius: 10px;
    background: rgba(255, 117, 39, 0.20); 
    color: #FF7527;
    font-family: var(--popen);
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    transition: all linear 0.3s;
}
.last_btn:hover{
    background: rgba(255, 117, 39, 0.80);
    color: #EEEDDE;
}
.pr_wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}
.f_logo{
    margin-top: 63px;
    width: 156px;
    height: 104px;
}
.f_logo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}